.invite {
	margin-top: auto;
}

.invite a {
	color: $color-bg-primary;
	text-align: center;
	font-size: 16px;
	line-height: 24px;

	margin-top: 20px;

	background-color: $color-font-secondary;
  border-color: $color-font-secondary;

	&::after {
		display: none;
	}
}
