<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="design-add-new">
    <h1 class="visually-hidden">Ещё название</h1>
    <main class="container main-page">
      <header class="main-page__header">
        <a href="design-catalog" class="back-button"><span class="visually-hidden">Назад</span></span></a>
        <h2 class="main-page__header--add-new">Choose base template</h2>
      </header>
      <div class="container template-menu">
      <ul class="template-menu__list">

      </ul>
    </div>
    </main>


    <template id="group-template">
      <li class="site-templates">
        <h3></h3>
        <ul></ul>
      </li>
    </template>

    <template id="template-template">
       <li class="mini-tile">
        <button class=""><span></span>
          <div class="mini-tile__preview"></div>
        </button>
        <h4></h4>
      </li>
    </template>


    <script type="module" src="js/main.js"></script>
  </body>
</html>
