<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Design</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1 class="visually-hidden">Ещё название</h1>
    <main class="container design-catalog">
      <header class="main-page__header">
        <h2>My templates</h2>
        <a href="design-add-new" class="add-button"><span class="visually-hidden">Add template</span></a>
      </header>
      <section class="">
        <ul class="" id="template-list">

        </ul>
      </section>
      <section class="settings">
        <h2 class="main-page__header">Settings</h2>
        <form action="/logout?_method=DELETE" method="POST" id="logout">
          <button type="submit" class="button">Logout</button>
        </form>
      </section>
    </main>

    <div class="delete-menu popup hidden" id="popup">
      <p class="popup__sign">Are you sure you want to remove this template?</p>
      <div class="popup__button-wrapper">
        <button type="button" id="delete-button" class="button tab-button button--inverted button--delete">Yes, remove</button>
        <button type="button" id="cancel-button" class="button tab-button button--inverted button--cancel">Cancel</button>
      </div>
    </div>

    <div class="overlay hidden"></div>


    <!-- шаблон плитки дизайна -->
    <template id="template-tile">
      <li class="tile">
        <article class="">
          <div class="tile__template"></div>
          <div class="tile__content">
            <h3 class="tile__name"></h3>
            <p class="tile__type"></p>
            <div class="tile__footer">
              <button class="button edit">Edit</button>
              <button class="button delete-button"><img src="img/delete.svg" alt="" width="20" height="22"><span class="visually-hidden">Delete</span></button>
            </div>
          </div>
        </article>
      </li>
    </template>

    <!-- шаблон слоя -->
    <template id="template-layer">
      <div class="tile__layer"></div>
    </template>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
