<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1 class="visually-hidden">Ещё название</h1>
    <header class="container start-header">
      <h2>Выбор направления</h2>
      <p>Интерфейс будет отличаться  в зависисмости от выбранного  направления, функциональных ограничений  не предусмотрено.</p>
    </header>
    <main class="container">
      <section class="">
        <ul class="">
          <li class="tile">
            <article class="">
              <img src="img/start.png" alt="">
              <div>
                <h3>Design</h3>
                <p>Создание шаблона</p>
                <a href="design-catalog" class="button">Продолжить</a>
              </div>
            </article>
          </li>
          <li class="tile">
            <article class="">
              <img src="img/start.png" alt="">
              <div>
                <h3>SMM</h3>
                <p>Заполнение шаблона</p>
                <a href="smm-catalog" class="button">Продолжить</a>
              </div>
            </article>
          </li>
        </ul>
      </section>
    </main>
    <script type="module" src="js/main.js"></script>
  </body>
</html>
