<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body class="login login-page">
    <h1 class="visually-hidden">Ещё название</h1>
    <header class="container login__header">
      <h2>ePost</h2>
    </header>
    <main class="container login__main">
      <section>
        <form action="/login" method="post" id="login">
          <div class="login__input input">
            <label for="login-email">Логин</label>
            <input type="email" id="login-email" name="email">
          </div>
          <div class="login__input input">
            <label for="login-password">Пароль</label>
            <input type="password" id="login-password" name="password">
          </div>
          <button type="submit" class="button">Войти</button>
        </form>
      </section>
      <section class="invite">
        <a href="register" class="button">Зарегистрироваться</a>
      </section>
    </main>
  </body>
  <script type="module" src="js/main.js"></script>
</html>
