<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App SMM</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1 class="visually-hidden">Ещё название</h1>
    <main class="container smm-catalog">
      <header class="main-page__header">
        <h2>My Templates</h2>
      </header>
      <section class="">
        <ul class="" id="template-list">

        </ul>
      </section>
      <section class="settings">
        <h2 class="main-page__header">Settings</h2>
        <form action="/logout?_method=DELETE" method="POST" id="logout">
          <button type="submit" class="button">Logout</button>
        </form>
      </section>
    </main>

    <!-- шаблон плитки смм -->
    <template id="template-tile">
      <li class="tile">
        <article class="">
          <div class="tile__template"></div>
          <div class="tile__content">
            <h3 class="tile__name"></h3>
            <p class="tile__type"></p>
            <div class="tile__footer">
              <button class="button use">Use</button>
            </div>
          </div>
        </article>
      </li>
    </template>

    <!-- шаблон слоя -->
    <template id="template-layer">
      <div class="tile__layer"></div>
    </template>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
