<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1 class="visually-hidden">Ещё название</h1>
    <main class="container smm-editor">
      <header class="main-page__header">
      </header>
      <section id="card" class="container card">
         <div class="card__header">
          <a href="smm-catalog" class="back-button" id="back"></a>
            <p class="card__smm-name" id="smm-name" name="name"></p>
          <div class="card__img">
            <div class="card__template"></div>
            <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
          </div>
        </div>
        <div class="sub-card sub-card--smm">
            <h3 class="visually-hidden">Edit image</h3>
            <ul class="sub-card__image-list">

            </ul>
            <ul class="sub-card__text-list">

            </ul>
            <ul class="sub-card__aspect-ratio-list">
              <li class="sub-card__aspect-ratio">
                <input class="aspect-ratio__button" type="radio" name="aspect-ratio" id="ar-1x1" value="1x1">
                <label for="ar-1x1" class="aspect-ratio__label">1:1</label>
              </li>
              <li class="sub-card__aspect-ratio">
                <input class="aspect-ratio__button" type="radio" name="aspect-ratio" id="ar-2x1" value="2x1">
                <label for="ar-2x1" class="aspect-ratio__label">2:1</label>
              </li>
              <li class="sub-card__aspect-ratio">
                <input class="aspect-ratio__button" type="radio" name="aspect-ratio" id="ar-3x2" value="3x2">
                <label for="ar-3x2" class="aspect-ratio__label">3:2</label>
              </li>
              <li class="sub-card__aspect-ratio">
                <input class="aspect-ratio__button" type="radio" name="aspect-ratio" id="ar-4x3" value="4x3">
                <label for="ar-4x3" class="aspect-ratio__label">4:3</label>
              </li>
              <li class="sub-card__aspect-ratio">
                <input class="aspect-ratio__button" type="radio" name="aspect-ratio" id="ar-9x16" value="9x16">
                <label for="ar-9x16" class="aspect-ratio__label">9:16</label>
              </li>
              <li class="sub-card__aspect-ratio">
                <input class="aspect-ratio__button" type="radio" name="aspect-ratio" id="ar-16x9" value="16x9">
                <label for="ar-16x9" class="aspect-ratio__label">16:9</label>
              </li>
            </ul>
            <div class="sub-card__footer sub-card__footer--smm">
              <button type="button" class="button sub-card__done-button sub-card__done-button--smm" id="create">Save</button>
              <ul class="sub-card__download-buttons-list"></ul>
              <button type="button" class="button sub-card__done-button sub-card__done-button--smm download-all" id="download-all">Download All</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <template id="template-smm-picture">
      <li class="card__image-layer">
        <input type="file" alt="" id="">
        <label for="" class="button"></label>
      </li>
    </template>

    <template id="template-smm-text">
      <li class="card__text-layer input">
        <input type="text" value="" id="">
        <label for=""></label>
      </li>
    </template>

    <template id="template-download-button">
      <li>
        <a class="button sub-card__done-button sub-card__done-button--smm download-link" href="" target="_blank"></a>
      </li>
    </template>

    <script type="module" src="js/main.js"></script>
  </body>
</html>
