body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  color: $color-font-primary;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: $color-bg-primary;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.block {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

.container {
  background-color: $color-bg-primary;
  padding: 0 6px;
  width: $mobile-width;
  margin: 0 auto;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  color: $color-bg-primary;
  text-align: center;

  min-height: 34px;
  padding: 4px 12px;

  border: 2px solid $color-accent;
  border-radius: 4px;
  background-color: $color-accent;
}

.button--inverted {
  background-color: $color-bg-primary;
  color: $color-accent;
}

.overlay {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: fade-out(black, 0.55);
}
